.update-checker-dialog {
    & .title {
        font-family: var(--leaf-theme-font) !important;
        font-weight: 500;
    }
    & .illustration {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }
    & .text {
        font-family: var(--leaf-theme-font) !important;
        font-weight: 500;
        margin: 0;
        & span {
            font-weight: 400;
            text-overflow: ellipsis;
        }
    }
}