#site-header {
    border-bottom: 1px #ddd solid !important;
  
    & .title {
      display: flex;
      align-items: center;
      height: 100%;
      user-select: none;
    }
  }
  
  .site-header--text-logo {
    font-family: "Jost";
    text-decoration: none !important;
    font-weight: 500;
    color: #444 !important;
    font-size: 1.3rem;
  
    & span {
      font-weight: 600;
      color: var(--leaf-primary)
    }

    & i {
        margin-top: -0.3rem;
        color: var(--leaf-primary ) !important
    }
  }
  
  .site-header-wrap {
    max-width: 1110px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  
  .site-navigation--nav {
    position: relative;
    height: 100%;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 1.5rem;
  }
  
  .site-nav--btn {
    text-transform: none !important;
    color: var(--leaf-nav-text-color) !important;
    font-family: var(--leaf-theme-font);
    font-weight: 400 !important;
    font-size: var(--leaf-nav-font-size);
    margin: 0 4px;
}

.site-nav--btn-active {
    color: var(--leaf-primary) !important;
}