.page-not-found {
    margin: 0 0 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
    padding-top: 2.5em !important;
}

.page-not-found h1.title {
    font-size: var(--font-up-4) !important;
    line-height: var(--line-height-medium) !important;
    font-family: var(--leaf-theme-font) !important;
    font-weight: 500;
}