@font-face {
	font-family: Jost;
	src: font-url('Jost-400-Book.otf');
	font-weight: 400;
}

@font-face {
	font-family: Jost;
	src: font-url('Jost-500-Medium.otf');
	font-weight: 500;
}

@font-face {
	font-family: Jost;
	src: font-url('Jost-600-Semi.otf');
	font-weight: 600;
}

@font-face {
	font-family: Jost;
	src: font-url('Jost-700-Bold.otf');
	font-weight: 700;
}
